@media (max-width: 768px) {
    #get-started {
        padding: 80px 0;
    }

    #get-started h2 {
        font-size: 40px;
    }

    #get-started p {
        width: 100%;
    }
}

@media (max-width: 576px) {
    #get-started h2 {
        font-size: 28px;
    }

    #get-started p {
        margin: 16px auto;
        font-size: 16px;
    }
}