body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.card {
    width: 320px;
    margin: auto;

    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    overflow: hidden;
}

.content {
    padding: 16px;
}

.content h2 {
    font-size: 19px;
    font-weight: 400;
    color: #464646;
}

.content p {
    font-size: 14px;
    font-weight: 100;
    color: #757575;
}

.content p span {
    color: #ffd600;
}

.info {
    display: flex;
    justify-content: space-between;
}