@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

ul {
    list-style-type: none;
}

.header {
    height: 70px;
    background-color: #111;
    color: #fff;

    padding: 0 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo span {
    text-transform: uppercase;
    font-size: 32px;
}

.menu-icon {
    font-size: 32px;
    cursor: pointer;
    display: none;
}

.menu ul {
    display: flex;
}

.menu ul li {
    text-transform: uppercase;
    margin-left: 16px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-icon {
        display: inline-block;
    }

    .header {
        position: relative;
    }

    .menu ul {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

        background-color: tomato;

        flex-direction: column;

        display: none;
    }

    .menu ul.show {
        display: flex;
    }

    .menu ul li {
        padding: 10px;
        margin-left: 0;
        transition: all 0.3s;
    }

    .menu ul li:hover {
        background-color: cornflowerblue;
    }
}
